{% extends 'base.html.twig' %}

{% block title %}
	Home
{% endblock %}

{% block body %}


	<main id="home-page" class="container py-4">
		<h1 class="text-center text-danger">{{ title }}</h1>
		<div class="jumbotron">
			<p>Blog realizado en <strong>symfony 5</strong> con las siguientes librerías:</p>

			<ul class="mb-0">
				<li>Bootstrap 4</li>
				<li>jQuery 3.4.1</li>
			</ul>
		</div>
		<hr>


		<section class="last-posts">
			<h2 class="subtitle">Últimas publicaciones</h2>

			<div class="row">
				<article class="col-md-4">
					{% include '_parts/post-item.html.twig' with { 'title': 'Post title dummy 1' } only %}
				</article>
				<article class="col-md-4">
					{% include '_parts/post-item.html.twig' with { 'title': 'Post title dummy 2' } only %}
				</article>
				<article class="col-md-4">
					{% include '_parts/post-item.html.twig' with { 'title': 'Post title dummy 3' } only %}
				</article>
			</div>

			<div class="my-3 text-right">
				<a href="{{ path('blog_list') }}" class="btn btn-danger">VER TODAS</a>
			</div>
		</section>
	</main>
{% endblock %}
