<footer id="footer" class="text-center py-3 bg-dark text-light">
	© {{ 'now' | date('Y') }}	-	<a class="text-danger" href="https://opensource.org/licenses/MIT" target="_blank">MIT License</a>
</footer>
