{% extends 'base.html.twig' %}

{% block title %}
	Blog
{% endblock %}

{% block body %}
	<main id="blov-list-page" class="container py-4">
		<h1 class="text-center text-danger">{{ title }}</h1>

		<p class="text-center">A countinuación podrás ver las publicaciones realizadas por nuestros usuarios.</p>
		<hr class="my-4">

		<section class="post-list">
			<div class="row">
				<article class="col-md-4">
					{% include '_parts/post-item.html.twig' with { 'title': 'Post title dummy 1' } only %}
				</article>
				<article class="col-md-4">
					{% include '_parts/post-item.html.twig' with { 'title': 'Post title dummy 2', 'edit': true } only %}
				</article>
				<article class="col-md-4">
					{% include '_parts/post-item.html.twig' with { 'title': 'Post title dummy 3' } only %}
				</article>
				<article class="col-md-4">
					{% include '_parts/post-item.html.twig' with { 'title': 'Post title dummy 4', 'edit': true } only %}
				</article>
				<article class="col-md-4">
					{% include '_parts/post-item.html.twig' with { 'title': 'Post title dummy 5' } only %}
				</article>
			</div>
		</section>
	</main>
{% endblock %}
