{% extends 'base.html.twig' %}

{% block title %}
	Blog
{% endblock %}

{% block body %}
	<main id="blog-list-page" class="container py-4">
		<h1 class="text-center text-danger">{{ title }}</h1>

		<p class="text-center">A countinuación podrás ver las publicaciones realizadas por nuestros usuarios.</p>
		<hr class="my-4">

		<section class="post-list">
			<div class="row">
				{% for post in posts %}
					<article class="col-md-4">
						{% include '_parts/post-item.html.twig' with { 'post': post } only %}
					</article>
				{% endfor %}
			</div>
		</section>
	</main>
{% endblock %}
