{% extends 'base.html.twig' %}

{% block title %}
	Contáctanos
{% endblock %}

{% block body %}
	<main id="contact-page" class="container py-4">
		<h1 class="text-center text-danger">{{ title }}</h1>

		<p class="text-center">A countinuación encontrarás un formulario con el podrás hacernos llegar tus inquietudes, problemas o sugerencias.</p>
		<hr class="my-4">

		<form action="" method="post">
			<section class="form-container">
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label for="name">Nombre<sup>*</sup></label>
							<input type="text" name="name" id="name" class="form-control" placeholder="ej. Sherlock Holmes">
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label for="email">Correo electrónico<sup>*</sup></label>
							<input type="email" name="email" id="email" class="form-control" placeholder="ej. sholmes@bakerstreet.dom">
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-12">
						<div class="form-group">
							<label for="email">Mensaje<sup>*</sup></label>
							<textarea rows="5" name="message" id="message" class="form-control" placeholder="ej. Hola mundo!"></textarea>
						</div>
					</div>

					<div class="col-12 text-right">
						<button type="submit" class="btn btn-outline-primary"><i class="far fa-paper-plane"> </i> ENVIAR</button>
					</div>
				</div>
			</section>
		</form>
	</main>
{% endblock %}
