<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			My dummy blog - {% block title %}not found{% endblock %}
		</title>
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}
	</head>
	<body>
		<div id="app-root">
			{% include "_general/header.html.twig" %}

			{% block body %}{% endblock %}

			{% include "_general/footer.html.twig" %}
		</div>
			{% block javascripts %}
				{{ encore_entry_script_tags('app') }}
			{% endblock %}
	</body>
</html>
